@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Marck Script', cursive;
}

.pacific {
    font-family: 'Pacifico', cursive;
}

.com {
    font-family: 'Comforter', cursive;
}

.App {
    max-width: 1200px;
    margin: 0px auto;
    background: #fff0f5;
}

.letter {
    background: url("../public/letter.png") no-repeat center;
    background-size: contain;
}

.mainBlock-left {
    background: url("../public/flowerbg.png") repeat-y right ;
    background-size: 101px;
}

.mainBlock-right {
    background: url("../public/flowerbg.png") repeat-y left ;
    background-size: 101px;
}